* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    
  
  html {
     font-size: 16px;
    }
  

/*Header*/


.upper-bar {
    background-color: #005689; 
}

nav {
    text-align: end;
    padding-right: 1.25rem;
}

  
  a {
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
    cursor: pointer;
    color: white;
    font-size: 0.85rem;
    padding-left: 0.75rem;
  }
  
  
  a:visited {
    color: blueviolet;
  }
  
  
  a:hover {
    text-decoration: none;
    color: whitesmoke;
  }
  
  a:active {
    color: orange;
  }
  
.center {
    background-color:  #eeeeee ;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: #eeeeee;
    background-color: #005689;
    border-radius: 4px;
    margin: 0.5rem 0.35rem;
    padding: 0 0.35rem;
}
  


.desktop {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    font-weight: 450;
    color: #005689;
    display: flex;
  }

.mob1075 {
  display: none;
}

.contacts {
  display: flex;
  padding-right: 1rem;
}

.telephone {
    display: flex;
    align-items: center;
}

.image-container-tel {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  display: inline;

}

.image-container-tel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.telephone p { 
  font-family: "Roboto", sans-serif;
  color: #005689;
  font-size: 1rem;
  font-weight: 350;
  padding-left: 0.25rem;
  display: flex;
}

.banner-media {
  display: flex;
}

.banner-media img {
  width: 2rem;
  height: 2rem;
}

.lower-bar {
  height: 1rem;
  background-color: #005689;
}

.banner-media img:hover {
  border: 1px solid #005689;
  padding: 0.25rem;
  background-color: whitesmoke;
}

@media only screen and (max-width: 1075px) {

  .desktop {
    display: none;
  }

  .mob1075 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 350;
    color: #005689;
    display: flex;
  }

}

/*Main*/

  /*Main-Intro*/

.intro {
  grid-area: 4 / 1 / 5 / 13;
  height: 40rem;
  background-image: url('../resources/images/intro1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template: repeat(10 1fr) / repeat(20 1fr);
}

.intro-banner {
  grid-area: 1 / 2 / 1 / 19;
  font-family: "Permanent Marker", cursive;
  font-size: 2.5rem;
  color: white;
  padding: 1rem 1rem 0.5rem 1rem;
  background-color: #005689;
  border-radius: 8px;
  margin: auto;
}

.intro-discount {
  grid-area: 7 / 2 / 9 / 10;
  font-family: "Permanent Marker", cursive;
  font-size: 1.5rem;
  color: white;
  padding: 1rem;
  background-color: #005689;
  border-radius: 8px;
  margin: auto;
  transition-property: padding;
  transition-duration: 1s;
}

.intro-join {
  grid-area: 7 / 12 / 9 / 19;
  font-family: "Permanent Marker", cursive;
  font-size: 1.5rem;
  color: white;
  padding: 1rem;
  background-color: #005689;
  border-radius: 8px;
  margin: auto;
  transition-property: padding;
  transition-duration: 1s;
}

.intro-discount:hover { 
  text-decoration: underline;
  background-color: #eeeeee;
  color: #005689;
  cursor: pointer;
  padding: 1rem 2rem;
}

.intro-join:hover { 
  text-decoration: underline;
  background-color: #eeeeee;
  color: #005689;
  cursor: pointer;
  padding: 1rem 2rem;
}

       /*Main-Opinions*/

.test-container {
  display: block;
  border: 1px solid #005689;
  margin: 2rem;
  border-radius: 4px;
}

.test-container h2 {
  color: #005689;
  font-size: 3rem;
  text-align: center;
  font-weight: 350;
}

.test {
  grid-area:  5 / 1 / 5 / 13;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(10rem, auto);
  margin: 1rem 0.5rem;
  justify-items: center;
}

.test1, .test2, .test3, .test4 {
  border: 1px solid #005689;
  border-radius: 4px;
  padding: 5px;
  margin: 7px;
  color: #005689;
  background-color: #eeeeee;
} 

.test p {
  font-weight: bold;
  text-align: center;
}

    /*Main-Classes*/



.classes .upper-bar {
  height: 1rem;
  background-color: #005689;
}

.center-classes {
  background-color:  #eeeeee ;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: auto;
  align-items: center;
}

.center-classes h2 {
  color: #005689;
  font-size: 3rem;
  font-weight: 350;
  padding: 1.2rem 5rem 1.2rem 0;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  display: flex;
}

.center-classes .contacts {
  padding-right: 1.25rem;
}

.classes-container {
  position: relative;
  display: block;
  padding-bottom: 4rem;
}

.classes-container::before {
  background-image: url('../resources/images/intro2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 5rem;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.65;
}



.classes-banner {
  top: 3rem;
  position: relative;
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  color: white;
  padding: 1rem 1rem 0.5rem;
  background-color: #005689;
  border-radius: 8px;
  margin: 0 3rem 0;
  text-align: center;
  z-index: 5;
}

.classes-table {
  top: 4rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  padding-top: 4rem;
  

}

.serv-container {
  
  margin: 3rem 2rem;
  background-color: #eeeeee;
  padding: 1rem;
  border: 1px solid #005689;
  border-radius: 0.5rem;
  width: max-content;
  height: auto;
}

.image-container-serv {
  width: 25rem;
  height: 20rem;
  overflow: hidden;

}

.image-container-serv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.serv-desc p {
  font-size: 1.5rem;
  color: black;
  text-align: center;
}

@media only screen and (max-width: 1075px) {

  .center-classes h2 {
    font-size: 2.5rem;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .classes-banner {
    font-size: 1.5rem;
    font-weight: 350;
  }

}

       /*Main-Meeting-point*/

.meet-point {
  display: block;
  border: 1px solid #005689;
  margin: 2rem 2rem 0.75rem;
  border-radius: 4px;
}

.meet-point h2 {
  color: #005689;
  font-size: 3rem;
  text-align: center;
}

.meet-point p {
  font-family: "Permanent Marker", cursive;
  font-size: 2.5rem;
  color: white;
  padding: 1rem 1rem 0.5rem 1rem;
  background-color: #005689;
  border-radius: 8px;
  margin: 1rem 3rem;
  text-align: center;
}

.meet {
  display: grid;
  grid-template-rows: minmax(10rem, auto);
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem 0.5rem 0.5rem;
  justify-items: center;
  gap: 1rem;
}

.premises {
  width: 100%;
  height: auto;
}

.image-container-premises {
  width: auto;
  height: 30rem;
}

.image-container-premises img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.location {
  width: 100%;
  height: auto;
}


.mapouter {
  position: relative;
  text-align: right;
  padding-bottom: 75%;
  width: 100%;
  height: 30rem;
  overflow: hidden;
}

.gmap_canvas {
  overflow:hidden;
  background: none!important;
  width: 100%;
  height: 30rem;
}

.gmap_iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 30rem !important;
}






/*Footer*/


.footer {
  height: auto;
  background-color: #005689; 
}

.footer p {
  font-family: "Roboto", sans-serif;
  padding: 0.5rem 0;
  font-size: 0.85rem;
  color: white;
  text-align: center;
}